footer ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

footer ul li p
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    width: 160%;
    text-align: center;
}

@media screen and (max-width: 415px)
{

    img[src="assets/logo.svg"]
    {
        display: none;
    }

    header button
    {
        display: none;
    }

    footer ul li p
    {
        width: 100%;
    }
}