
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

#ProductPageNav
{
    font-family: "Varela Round", sans-serif;
    background-color: #34765E;
    height: 5rem;
}

nav #inlogknop
{
    background-color: #FFE8CC;
    border-radius: 5px;
    height: 2.5rem;
    width: 10rem;
    margin: 1.2rem 11rem;
    line-height: 0;

}

nav #inlogknop  p
{
    color:  #34765E !important;
    text-align: center;
    font-size: 17px;
    padding-top: 1.3rem;

}

nav .col-md-1 p
{
    color:  #FFE8CC;
    padding-top: 1.5rem;

}

div #logo img[src="assets/color.svg"]
{
    width: 60px;
    height: 55px;
    padding-top: 1rem;
    margin-left: 12rem;
}

main
{
    background-color: #FFE8CC;
    height: 38.9rem;

}

h1{
    color: #FFE8CC;
}

footer
{
    font-family: "Varela Round", sans-serif;
    background-color: #34765E;
    height: 5rem;
}

.col-md-6 p
{
    color: #FFE8CC;
    text-align: center;
    padding-top: 2rem;
}

div .col-md-1 svg
{
    margin-top: 1.5rem;
}
div img[src="assets/Group%2041.png"]
{
    width: 350px;
    float: left;
}
aside{
    float: right;
}
p{
    float: right;
    width: 800px;
}
#de\ uitleg
{
    height: 10rem;
    text-align: right;
    padding: 10rem;
}
#dit{
    text-align: center;
    bottom: 8rem;
}
#vakjes{
    color: black;
    align-items: start;
    width: 200px;
    height: 200px;
}
#vak1{
    background-color: #34765E;
    align-items: start;
}
#vak2{
    background-color: #34765E;

}
#vak3{
    background-color: #34765E;

}
#vak4{
    background-color: #34765E;

}
#k{
    text-align: right;
}