/* algemene css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: #FFF5EA;
    margin: 0 auto;
}

/* specifieke css */
main .container {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #198754;
}

.logomain {
    width: 60px;
    cursor: pointer;
    margin-left: 60px;
    padding: 10px;
}


nav {
    flex: 1;
    text-align: center;
    margin: 0 auto;
}

button {
    background-color: #FFF5EA;
    border: none;
    color: #198754;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 5px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

main
{
    margin-top: 25px;
}

.logo
{
    margin-left: 2rem;
}




main nav ul li
{
    background-color: #198754;
    border: none;
    margin: 30px;
    padding: 20px 50px;
    font-size: 16px;
    border-radius: 10px;
    height: 17rem;
    color: #FFF5EA;
    font-weight: normal;
}

main nav ul li p
{
    background-color: #FFF5EA;
    border: none;
    color: #198754;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    height: 27px;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 4px;
    margin-top: 1.5rem;
}

img[src="assets/mockup.png"]
{
    width: 100px;
    height: 100px;
    margin-top: 30px;
}



.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #198754;
    padding: 15px;
    text-align: center;
    margin-left: 24rem;
}
.head{
    background-color: #FFF5EA;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: #198754;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid #333;
}

button.knop
{
    background-color: #FFF5EA;
    border: none;
    color: #198754;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    height: 27px;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 4px;
    margin-top: 1.5rem;
    width: 10rem;
    margin-right: 0;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #198754;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart p {
    color: #FFF5EA;
    background-color: #198754;
    width: 30px;
    height: 30px;
    border-radius: 10000px;
    padding-top: 0.8rem;
    padding-left: 1.2rem;
    margin-left: 8rem;
    margin-top: -3.5rem;
}

footer
{
    padding-top: 2rem;
}


footer ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

footer ul li p
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    width: 160%;
    text-align: center;
}

@media screen and (max-width: 750px)
{

    img[src="assets/logo.svg"]
    {
        display: none;
    }

    header button
    {
        display: none;
    }

    footer ul li p
    {
        width: 100%;
    }


}