/* algemene css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: #FFF5EA;
    margin: 0 auto;
}

/* specifieke css */
main .container {
    width: 100%;
    min-height: 90vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #198754;
}

.logomain {
    width: 60px;
    cursor: pointer;
    margin-left: 60px;
    padding: 10px;
}


nav {
    flex: 1;
    text-align: center;
    margin: 0 auto;
}

button {
    background-color: #FFF5EA;
    border: none;
    color: #198754;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 5px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

main
{
    margin-top: 25px;
}

main nav ul li
{
    background-color: #198754;
    border: none;
    margin: 30px;
    padding: 20px 50px;
    font-size: 16px;
    border-radius: 10px;
    height: 15rem;
    color: #FFF5EA;
    font-weight: normal;
}

main nav ul li p
{
    background-color: #FFF5EA;
    border: none;
    color: #198754;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    height: 27px;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 4px;
    margin-top: 2rem;
}

img[src="assets/mockup.png"]
{
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

footer ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

footer ul li p
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    width: 160%;
    text-align: center;
}

@media screen and (max-width: 415px)
{

    img[src="assets/logo.svg"]
    {
        display: none;
    }

    header button
    {
        display: none;
    }

    footer ul li p
    {
        width: 100%;
    }
}





