/* algemene css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: #FFF5EA;
    margin: 0 auto;
}



/* specifieke css */
main .container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

}

main{
max-width: 1600px;
margin: 0 auto;
    margin-top: 30px;
}
.row  {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #198754;
}

.logomain {
    width: 60px;
    cursor: pointer;
    margin-left: 60px;
    padding: 10px;
}


nav {
    flex: 1;
    text-align: center;
    margin: 0 auto;
}

button {
    background-color: #FFF5EA;
    border: none;
    color: #198754;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 5px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.col-1 {
    flex-basis: 60%;
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
}

.col-1 h2 {
    font-size: 50px;
    color: #198754;
}

.col-1 h1 {
    font-size: 50px;
    color: #198754;
}
.col-2 {
    position: relative;
    margin-left: 50px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
div .col-2 {
margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



.illustratie {
    margin-left: 5rem;
    width: 60%;
    height: 60%;
    margin-top: 2rem;
}

.row {

}

.diensten {
    background-color: #198754;
    border: none;
    color: #FFF5EA;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
main {
    margin-bottom: 70px;
}
h3  {
    font-size: 18px;
    color: #198754;
}footer {
     position: fixed;
     bottom:0;
     left:0;
     width: 100%;
 }

footer ul li {
     list-style: none;
     display: inline-block;
     padding: 20px;
 }

footer ul li p
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    width: 160%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .logomain {
        width: 60px;
        cursor: pointer;
        margin-left: 20px;
        padding: 10px;
    }

    header button {
        display: none;
    }

    footer ul li p {
        width: 100%;
    }

    footer
    {
        position: inherit;
    }

    .row
    {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .illustratie
    {
        padding-left: 2rem;
        margin-top: 4rem;
        width: 80%;
    }

    .col-1 h2
    {
        font-size: 35px;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        display: flex;
        margin: 0 auto;
    }
    .col-1 h3
    {
        font-size: 20px;
        width: 70%;
        text-align: center;
        justify-content: center;
        display: flex;
        margin: 0 auto;
    }
    .col-1
    {
      margin: 0 auto;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
margin-top: 20px;
    }

    button
    {
        margin-left: 2.5rem;

    }
    .col-2 {
        position: relative;
        display: flex;
        align-items: center;
    }
    div .col-2 img {
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .col-1 h3
    {
        font-size: 18px;
        width: 80%;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        display: flex;
        margin: 0 auto;

    }
    }