/* algemene css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: #FFF5EA;
    margin: 0 auto;
}



/* specifieke css */
main .container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #198754;
}

.logomain {
    width: 60px;
    cursor: pointer;
    margin-left: 60px;
    padding: 10px;
}


nav {
    flex: 1;
    text-align: center;
    margin: 0 auto;
}

button {
    background-color: #FFF5EA;
    border: none;
    color: #198754;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 5px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.col-1 {
    flex-basis: 60%;
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
}

.col-1 h2 {
    font-size: 50px;
    color: #198754;
}

.col-1 h1 {
    font-size: 50px;
    color: #198754;
}
.col-2 {
    position: relative;
    margin-right: 60px;
    display: flex;
    align-items: center;
}


.illustratie {
    margin-right: 50px;
    width: 80%;
    height: 80%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

footer {
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
}

footer ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

footer ul li p
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    width: 160%;
    text-align: center;
}

.diensten {
    background-color: #198754;
    border: none;
    color: #FFF5EA;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
main {
    margin-bottom: 70px;
}
h3  {
    font-size: 18px;
    color: #198754;
}

@media screen and (max-width: 800px) {

    img[src="assets/logo.svg"] {
        display: none;
    }

    header button {
        display: none;
    }

    footer ul li p {
        width: 100%;
    }

    footer
    {
        position: inherit;
    }

    .row
    {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .illustratie
    {
        padding-left: 4rem;
        margin-top: 2rem;
    }

    .col-1 h2
    {
        font-size: 30px;
        width: 100%;
        text-align: center;
        display: flex;
        padding-right: 15rem;
    }

    h3
    {

        text-align: center;
        display: flex;
        align-items: center;
        margin-right: 8rem;
    }

    button
    {
        margin-left: 2.5rem;

    }
}

